/*

	Supersized - Fullscreen Slideshow jQuery Plugin
	Version : 3.2.7
	Site	: www.buildinternet.com/project/supersized
	
	Author	: Sam Dunn
	Company : One Mighty Roar (www.onemightyroar.com)
	License : MIT License / GPL License
	
*/

* { MARGIN:0; PADDING:0; }
BODY { BACKGROUND:#111; HEIGHT:100%; }
	IMG { BORDER:NONE; }
	
	#SUPERSIZED-LOADER { POSITION:ABSOLUTE; TOP:50%; LEFT:50%; Z-INDEX:0; WIDTH:60PX; HEIGHT:60PX; MARGIN:-30PX 0 0 -30PX; TEXT-INDENT:-999EM; BACKGROUND:URL(../IMG/PROGRESS.GIF) NO-REPEAT CENTER CENTER;}
	
	#SUPERSIZED {  DISPLAY:BLOCK; POSITION:FIXED; LEFT:0; TOP:0; OVERFLOW:HIDDEN; Z-INDEX:-999; HEIGHT:100%; WIDTH:100%; }
		#SUPERSIZED IMG { WIDTH:AUTO; HEIGHT:AUTO; POSITION:RELATIVE; DISPLAY:NONE; OUTLINE:NONE; BORDER:NONE; }
			#SUPERSIZED.SPEED IMG { -MS-INTERPOLATION-MODE:NEAREST-NEIGHBOR; IMAGE-RENDERING: -MOZ-CRISP-EDGES; }	
			#SUPERSIZED.QUALITY IMG { -MS-INTERPOLATION-MODE:BICUBIC; IMAGE-RENDERING: OPTIMIZEQUALITY; }			
		
		#SUPERSIZED LI { DISPLAY:BLOCK; LIST-STYLE:NONE; Z-INDEX:-30; POSITION:FIXED; OVERFLOW:HIDDEN; TOP:0; LEFT:0; WIDTH:100%; HEIGHT:100%; BACKGROUND:#111; }
		#SUPERSIZED A { WIDTH:100%; HEIGHT:100%; DISPLAY:BLOCK; }
			#SUPERSIZED LI.PREVSLIDE { Z-INDEX:-20; }
			#SUPERSIZED LI.ACTIVESLIDE { Z-INDEX:-10; }
			#SUPERSIZED LI.IMAGE-LOADING { BACKGROUND:#111 URL(../IMG/PROGRESS.GIF) NO-REPEAT CENTER CENTER; WIDTH:100%; HEIGHT:100%; }
				#SUPERSIZED LI.IMAGE-LOADING IMG{ VISIBILITY:HIDDEN; }
			#SUPERSIZED LI.PREVSLIDE IMG, #SUPERSIZED LI.ACTIVESLIDE IMG{ DISPLAY:INLINE; }


#SUPERSIZED IMG { MAX-WIDTH: NONE !IMPORTANT }
